<h3 class="alert alert-primary">Liste des plongées</h3>

<!-- 1nde ligne : Panier -->
<div class="row">
    <div class="alert alert-success">
        <h2>Panier</h2>
        @for (item of panier; track $index) {
        <p>☼ {{ item.name }}</p>
        }
    </div>

    <div class="row">

        @for (dive of dives; track $index) {
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nom : {{dive.name}}</h5>

                    <!-- Composant Enfant -->
                    <div class="alert alert-warning">
                        <h5>Composant Enfant #1</h5>
                        <app-dives-list-child1 [inputDive]="dive" [infos]="infosTexte"
                            (outputEventDive)="diveSelected($event)"></app-dives-list-child1>
                    </div>
                    <!-- Composant Enfant -->
                    <button routerLink="/liste-des-plongees/details/{{dive.id}}" [queryParams]="dive"
                        [skipLocationChange]="true" class="btn btn-primary" #btnPlus>En Savoir Plus</button>

                </div>
            </div>
        </div>
    }
    </div>