<div class="alert alert-primary">
    HOME PAGE
</div>

<p></p>
<!-- async :  on s'abonne directement dans la vue (à chaud) ! optim : le désabonnement se fait instantanément  -->
<p class="alert alert-primary">Framework Front : {{infos$ | async}}</p>
<!-- The async pipe subscribes to an Observable or Promise and returns the latest value it has emitted. When a new value is emitted, the async pipe marks the component to be checked for changes. When the component gets destroyed, the async pipe unsubscribes automatically to avoid potential memory leaks. When the reference of the expression changes, the async pipe automatically unsubscribes from the old Observable or Promise and subscribes to the new one. -->
<p></p>


<!-- <button class="btn btn-success" #plus (click)="method()"><i class="bi bi-cart-plus"></i> </button> -->
<button class="btn btn-success" #plus><i class="bi bi-cart-plus"></i> </button>
&nbsp;
<button class="btn btn-danger" #moins><i class="bi bi-cart-dash"></i></button>
&nbsp;
<p></p>
<p class="alert alert-danger" #panier></p>
<p></p> 