<h5>Les Réactives Forms

    <form [formGroup]="monForm" (submit)="onSubmit()">
        <mat-icon id="icone-prenom">face</mat-icon>&nbsp;
        <mat-form-field>
            <mat-label>Votre prénom :</mat-label>
            <input matInput type="text" formControlName="firstName">
        </mat-form-field>
        <br>

        <!-- Toutes ces propriétés sont disponibles en Template Driven Form -->
        <!-- <div class="alert alert-warning">
            Prénom (value) : {{monForm.controls['firstName'].value}}

            <br> - Prénom (Touched) : {{monForm.controls['firstName'].touched}}
            <br> - Prénom (Pristine) : {{monForm.controls['firstName'].pristine}}
            <br> - Prénom (Dirty) : {{monForm.controls['firstName'].dirty}}
            <br> - Prénom (Valid) : {{monForm.controls['firstName'].valid}}
        </div> -->

        <!-- on affiche si valid-faux et le champ a été touché -->
        @if (monForm.controls['firstName'].touched && !monForm.controls['firstName'].valid) {
        <p class="text-danger"> *<em> le champ doit comporter 3 caractères minimum </em>*</p>
        }

        <p [hidden]="!monForm.controls['firstName'].valid" style="color:#1c8032">
            Le champ prénom est validé !
        </p>

        <!-- TP : add 2 champs (controls) lastName et email (validators.email) -->
        
        <mat-icon id="icone-nom">peerson</mat-icon>&nbsp;
        <mat-form-field>
            <mat-label>Votre nom :</mat-label>
            <input matInput type="text" formControlName="lastName">
        </mat-form-field>
        <br>
        
        <mat-icon id="icone-email">email</mat-icon>&nbsp;
        <mat-form-field>
            <mat-label>Votre email :</mat-label>
            <input matInput type="email" formControlName="email">
        </mat-form-field>


        <br>


        <!-- Groupe -->
        <h5>Adresse :</h5>
        <div formGroupName="adresse" class="alert alert-primary">
            <div>
                <mat-icon>traffic</mat-icon>&nbsp;
                <mat-form-field>
                    <mat-label>Saisir votre rue :</mat-label>
                    <input matInput type="text" formControlName="rue">
                </mat-form-field>
                <p></p>
            </div>
            <div>
                <mat-icon>traffic</mat-icon>&nbsp;
                <mat-form-field>
                    <mat-label>Saisir votre ville :</mat-label>
                    <input matInput type="text" formControlName="ville">
                </mat-form-field>
                <p></p>
            </div>
            <div>
                <mat-icon>traffic</mat-icon>&nbsp;
                <mat-form-field>
                    <mat-label>Saisir votre cp :</mat-label>
                    <input matInput type="text" formControlName="cp">
                </mat-form-field>
                <p></p>
            </div>
        </div>

        <button mat-flat-button type="submit" [disabled]="!monForm.valid">Submit</button>
    </form>